{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{ product.name }}</h1>
            <p class="lead fw-normal text-white-50 mb-0">Explore the details of your selected product</p>
        </div>
    </div>
</header>

<!-- Product Details Section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!-- Product Image -->
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{ product.imag.url }}" alt="{{ product.name }}" />
            </div>
            <!-- Product Details -->
            <div class="col-md-6">
                <div class="small mb-1">Category: {{ product.category }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ product.price|intcomma }} toman</span>
                </div>
                <p class="lead">{{ product.description | safe }}</p>
                <div class="d-flex">
                    <a class="btn btn-outline-dark flex-shrink-0" href="{% url 'cart:add_to_cart' product.id %}">
                        <i class="bi-cart-fill me-1"></i>
                        Add to Cart
                    </a>
                    <a class="btn btn-secondary ms-2" href="{% url 'home:home' %}">
                        Back to Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
