{% extends 'base.html' %}
{% block content %}
   <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <br>
                </div>
            </div>
     </header>
    <h1>About Us</h1><br><br>
    <p>

<h3>Welcome to Amir textile company</h3><br>where passion meets innovation. Founded with a vision to make a difference, we strive to deliver top-quality products and services tailored to your
    <br> Our team is dedicated to excellence, creativity, and building meaningful connections with our customers. Together, we aim to create a brighter, more inspired future.</p>
    <h3>Address:</h3><br>
    <P>Yazd, Mulla Sadra Street, 25</P>

    <br><br><br><br><br><br>
{% endblock %}
